:root {
  --primary-color: #1c1c1c;
  --secondary-color: #14181C;
  --black-color: #141414;
  --white-color: #c6c4c4;
  --offwhite-color: #d9d9d9;
  --gray-color: rgba(217, 217, 217, 0.45);
  --highlight-color: #00E054;

  --font-primary: 'Helvetica', 'Arial', sans-serif;
  --spacing-sm: 0.5em;
  --spacing-md: 1em;
  --spacing-lg: 2em;
  --border-radius: 4px;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
  color: var(--offwhite-color);
  line-height: 1.6;
}

main {
  padding: 20px 100px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}