/* Estilos para a navbar */
.navBar {
  background-color: #1c1c1c; /* Cor de fundo da navbar */
  padding: 10px 20px; /* Espaçamento interno da navbar */
  color: #ffffff; /* Cor do texto da navbar */
}

/* Container para os itens da navbar */
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilo para os itens individuais da navbar */
.navContainer > div {
  border: solid red 1px;
  display: flex;
  align-items: center;
  margin: 0 10px; /* Espaçamento lateral entre os itens */
}

/* Estilo para o ícone do menu */
.iconMenu {
  cursor: pointer;
}

/* Estilo para o logo */
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
}

.iconLogo {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto do logo */
}

.textoLogo {
  margin: 0; /* Remover margem padrão do h2 */
  font-size: 24px; /* Tamanho da fonte do logo */
  color: #ffffff; /* Cor do texto do logo */
}

/* Estilo para o ícone de busca */
.lupa {
  cursor: pointer;
}

/* Estilo para o link de login */
.login a {
  color: #ffffff; /* Cor do texto do link de login */
  text-decoration: none; /* Remover sublinhado do link */
  padding: 10px 15px; /* Espaçamento interno do link */
  border: 1px solid #ffffff; /* Borda do link */
  border-radius: 4px; /* Bordas arredondadas */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para mudanças de cor */
}

.login a:hover {
  background-color: #ffffff; /* Cor de fundo ao passar o mouse */
  color: #1c1c1c; /* Cor do texto ao passar o mouse */
}
