.movieDetails {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.movieDetails .backdropImage{
    z-index: 1;
}

.movieDetails .containerInfoFilme {
    margin-top: -15px;
}
